<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="google-site-verification" content="9FUywMd926za9lLIK5X7myny7HYoAF48CHemANB8Zu0" />
    <meta name='yandex-verification' content='4d1b71b148f932e6' />

    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/favicon-196.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png">
    <link rel="apple-touch-icon" href="favicon-57.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <!-- ****** faviconit.com favicons ****** -->


    <link rel="alternate" type="application/rss+xml" title="RSS" href="//feeds.feedburner.com/jamesmanofstone" />
    <link rel="author" href="//plus.google.com/+JamesStoneAuthorSpeakerDeveloperMediaArtist/posts"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="<%= current_page.data.title || "James Stone" %>" />
    <meta property="og:url" content="<%= URI.join("https://www.jamesstone.co", current_page.url) %>" />
    <% unless current_page.data.featured_image.nil? %>
    <meta property="og:image" content="<%= "https://www.jamesstone.co#{asset_url(current_page.data.featured_image)}" %>"/>
    <% end %>
    <% unless current_page.data.seo_desc.nil? %>
    <meta property="og:description" content="<%= current_page.data.seo_desc %>">
    <meta name="description" content="<%= current_page.data.seo_desc %>">
    <% else %>
    <meta property="og:description" content="<%= strip_all_html(current_page.summary).lstrip.chomp[0..299] %>">
    <meta name="description" content="<%= strip_all_html(current_page.summary).lstrip.chomp[0..299] %>">
    <% end %>
    <title><%= current_page.data.title || "James Stone" %></title>
    <%= stylesheet_link_tag "app" %>
    <%= javascript_include_tag "vendor/modernizr", :defer => "defer" %>
  </head>

  <body>

    <%= partial "header" %>

    <%= yield %>

    <%= partial "footer" %>

    <%= javascript_include_tag  "application", :defer => "defer" %>


  </body>
</html>
