<% wrap_layout :blog_layout do %>

<br>

<div class="row">
  <div class="large-12 columns medium-centered"> <!-- content -->

 <% permalink_url = "https://www.jamesstone.com#{current_page.url}".sub(/(\/)+$/,'') %>

<div>
  
    <div class="entry-content">
      <% test_featured_image_wide = current_page.data.featured_image_wide %>
      <% test_featured_image = current_page.data.featured_image %>

      <% test_video          = current_page.data.video %>
      <% test_video_type     = current_page.data.video_type %>
      <% test_video_id       = current_page.data.video_id %>

      <% if (defined?(test_video)) && (defined?(test_video_type)) && (defined?(test_video_id)) %>
        <% if test_video == "true" %>
          <% if test_video_type == "youtube" %>
            <div class="flex-video widescreen">
          <div class="lazyYT" data-youtube-id="<%= test_video_id %>" data-ratio="16:9" data-parameters="rel=0">loading...</div>
          </div>
          <% end %>
        <% elsif not current_page.data.featured_image_wide.nil? %>
          <img src="<%= current_page.data.featured_image_wide %>" style="width:100%;">
          <h1 class="text-center" style="padding-top: 1rem;"><%= current_page.title %></h1>
        <% elsif not current_page.data.featured_image.nil? %>
          <p class="text-center"><img src="<%= current_page.data.featured_image %>"></p>
          <h1 class="text-center"><%= current_page.title %></h1>
        <% end %>
      <% end %>


      <p align="center">
        by James Stone &ndash; <a href="https://twitter.com/intent/user?screen_name=jamesstoneco">Follow him on Twitter</a>
        <time class="hide timeago published" datetime="<%= Time.parse("#{current_page.date.strftime('%B %e, %Y')} #{current_page.data.time}").to_time.iso8601 %>"><%= Time.parse("#{current_page.date.strftime('%B %e, %Y')} #{current_page.data.time}").strftime('%B %e, %Y %I:%M %p') %></time>
      </p>
  
   
      <% if ( current_page.data.disclaimer_aff.eql?('true')) %>
      <div class="row">
        <div class="small-10 small-centered medium-8 large-10 columns">
          <div id="disclaimer-aff"class="panel">
            <% test_amazon_aff_url = current_page.data.amazon_aff_url %>
            <% if ( defined?(test_amazon_aff_url)) %>
            <a href="<%= current_page.data.amazon_aff_url %>" class="button large expand">View on Amazon &raquo;</a>
            <% end %>
  
            <p>This post contains Amazon Affiliate Links, which help support my insatiable kindle habit. It is possible for me to make more than I can read, however, this is also incredibly unlikely.</p>
          </div>
        </div>
      </div>
      <% end %>
  
      <% if ( current_page.data.disclaimer_free.eql?('true')) %>
      <div class="row">
        <div class="small-8 small-centered columns">
          <div id="disclaimer-aff"class="panel">
            <p>Review Copy Disclaimer: I recieved a copy of this product at no cost from the publisher / manufacturer. The opinions are of my own and I did not recieve any compensation for the review other than the product itself.</p>
          </div>
        </div>
      </div>
      <% end %>
  
        <% unless current_page.data.highlights.nil? %>
        <div class="medium-6 columns medium-centered">
          <div class="panel callout radius">
            <h4 class="text-center">Article Highlights</h4>
            <ul class="text-center no-bullet">
                <% current_page.data.highlights.each do |h| %>
                    <li><%= h %></li>
                <% end %>
            </ul>
          </div>
        </div>
      <% end %>



  
<div class="row">
  <div class="large-10 columns large-centered"><%= yield %></div>
</div>


    </div>
  
    <% if ( current_page.data.disclaimer_aff.eql?('true')) %>
    <div class="row">
      <div class="small-10 small-centered medium-8 large-10 columns">
        <div id="disclaimer-aff"class="panel">
          <% test_amazon_aff_url = current_page.data.amazon_aff_url %>
          <% if ( defined?(test_amazon_aff_url)) %>
          <a href="<%= current_page.data.amazon_aff_url %>" class="button large expand">View on Amazon &raquo;</a>
          <% end %>
  
          <p>This post contains Amazon Affiliate Links, which help support my insatiable kindle habit. It is possible for me to make more than I can read, however, this is also incredibly unlikely.</p>
        </div>
      </div>
    </div>
    <% end %></div>



<div>
  <!-- comments -->
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = 'manofstone';
      var disqus_url = '<%= URI.join("https://www.jamesstone.com", current_page.url) %>';
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
</div>


  </div>


</div>


<!-- Reveal Modals begin -->
<div id="disclaimer-amazon-modal" class="reveal-modal small" data-reveal>
  <h2>Amazon Affiliate Disclaimer</h2>
  <p>I sometimes link to books or other products that I have read, used, enjoyed or even possibly hated. I proclaim that my views and context are that of my own but <strong>it is important that you know that I am compensated by Amazon Affiliates if you use the link and decide to purchase</strong> that item.</p>
  <p>Currently I accept this payment as an Amazon Kindle Giftcard so basically, by purchasing through this link, you are supporting both your and my reading habit simultaneously, and for that I thank you.</p>
  <p>If you want to avoid that all together, just copy and paste and let google be your friend.</p>
  <p>There is a set of guidelines put out by the FTC and requires this type of disclosure for blogs only. Print and other publications are exempt. Although there is no enforcement of this yet, I want to be up front with you so when you click on that link on jamesstone.co you know exactly what the deal is.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<% end %>
