---
title: "About James Stone: Author and Blogger"
seo_desc: I am the author of Zurb Foundation Blueprints (Packt) and the Chief Investigator at James Stone Intermedia. I have worked at Apple, Loudeye (now Nokia), Tower Records and taught at the School of Visual Art at Penn State as an Instructor.
active_nav: about
hero_headline: "Stone. James Stone. Unofficial Evangelist of ZURB Foundation."
hero_subhead: "I engineer world class sites from front-end perspective and teach others to do the same"
hero_cta: "Learn more"
intro_headline: "Have you ever tried to learn ZURB Foundation, but it never seemed to click?"
---

<section class="hero about">
  <div class="row">
    <div class="small-12 columns">
      <h2><%= current_page.data.hero_headline %></h2>
      <p><%= current_page.data.hero_subhead %></p>
      <p> <a href="" class="button"><%= current_page.data.hero_cta %></a> </p>

    </div>
  </div>
</section>

<section class="about-intro">
  <h2><%= current_page.data.intro_headline %></h2>

  <div class="row">
    <div class="column"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium itaque vel totam? Temporibus libero hic consectetur, blanditiis ad aperiam laudantium voluptates perferendis nesciunt repellat dolor, voluptatem ab quae corporis, maiores.</p></div>
    <div class="column"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium itaque vel totam? Temporibus libero hic consectetur, blanditiis ad aperiam laudantium voluptates perferendis nesciunt repellat dolor, voluptatem ab quae corporis, maiores.</p></div>
    <div class="column"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium itaque vel totam? Temporibus libero hic consectetur, blanditiis ad aperiam laudantium voluptates perferendis nesciunt repellat dolor, voluptatem ab quae corporis, maiores.</p></div>
  </div>
  
</section>

<%= partial "module_testimonials" %>


<section class="about-bio">
  <h2>More about James</h2>

  <div class="row align-justify">
    <div class="column medium-5"> <img src="images/bio/zf-camp-wide.jpg" alt=""> </div>
    <div class="column medium-6">
      <p>James Stone is the author of ZURB Foundation Blueprints and is a top contributor to ZURB Foundation. James has spoken at the HTML5 Developers Conference, TEDxPSU and the UMD Design | Cultures + Creativity Honors College.</p>
      <p>He holds an MFA in Studio Art and served as a University Fellow and Instructor at the School of Visual Arts at Penn State. He has worked on large scale public art projects and exhibited his work both nationally and internationally.</p>
      <p>If you want to learn the same techniques and tools as he uses for modern web development, be sure to sign up below.</p>
    </div> 
  </div>

</section>


<%= partial "module_promo" %>


<section>

  <div class="row column"><p><small>Attribution and Credits<br>
    Photography is provided courtesy of <a class="unstyled-link" href="http://unsplash.com" rel="nofollow">Unsplash</a> and David Niblack of <a class="unstyled-link" href="http://imagebase.net" rel="nofollow">Imagebase</a>.
    <br>
    Icons are provided by: 

    <a class="unstyled-link" href="http://thenounproject.com/term/evaluate/4625/" rel="nofollow">Evaluate by Scott Lewis</a>, 
    <a class="unstyled-link" href="http://thenounproject.com/term/multi-tool/4891/" rel="nofollow">Multi-Tool by John</a>, 
    <a class="unstyled-link" href="http://thenounproject.com/term/tools/14905/" rel="nofollow">Tools by Juan Pablo Bravo</a>, 
    <a class="unstyled-link" href="http://thenounproject.com/term/user/36232/" rel="nofollow">User by Luis Prado</a>, 
    <a class="unstyled-link" href="http://thenounproject.com/term/gps/23550/" rel="nofollow">Gps by Juan Pablo Bravo</a>, 
    <a class="unstyled-link" href="http://thenounproject.com/term/drafting/1472/" rel="nofollow">Drafting by Jacob Eckert</a>, 
    <a class="unstyled-link" href="http://thenounproject.com/term/grid/25607/" rel="nofollow">Grid by Francisca Muñoz Colina</a>, 
    <a class="unstyled-link" href="http://thenounproject.com/term/whisper/23334/" rel="nofollow">Whisper by Chris Dawson</a>, 
    <a class="unstyled-link" href="http://thenounproject.com/term/book/17900" rel="nofollow">Book by Michael Rowe</a>, 
    <a class="unstyled-link" href="http://thenounproject.com/term/edit-code/37814" rel="nofollow">Edit Code by Garrett Knoll</a>, and 
    <a class="unstyled-link" href="http://thenounproject.com/term/unicorn/8979" rel="nofollow">Unicorn by Gilad Fried</a>
    from <a class="unstyled-link" href="http://thenounproject.com">The Noun Project</a>.</small></p>
  </div>
</section>