
<footer>

  <div class="row">
    <div class="medium-12 columns">


      <div class="row">
        <div class="medium-5 columns small-articles">

          <h2>Recent Articles</h2>

          <% page_articles('blog')[0..2].each do | article | %>

          <% test_video          = article.data.video %>
          <% test_video_type     = article.data.video_type %>
          <% test_video_id       = article.data.video_id %>
          <% test_featured_image = article.data.featured_image %>


          <div class="row">
            <div class="medium-3 columns">
              <a href="<%= article.url %>">
                <% image_url           = "" %>
                <% if (defined?(test_video)) && (defined?(test_video_type)) && (defined?(test_video_id)) %>
                <% if test_video == "true" %>
                <% if test_video_type == "youtube" %>
                <img class="yt-thumb" src="//img.youtube.com/vi/<%= test_video_id %>/maxresdefault.jpg" alt="">
                <% end %>
                <% elsif ( defined?(test_featured_image)) %>
                <img src="<%= test_featured_image %>" alt="<%= article.title %>" style="">
                <% end %>
                <% end %>
              </a>
            </div>
            <div class="medium-9 columns">
              <p> <a href="<%= article.url %>"><%= article.title %></a> </p>
            </div>
          </div>


          <% end %>

        </div>
        <div class="medium-3 columns">
          <div class="js-logo-wrapper">
            <a href="/"><img class="js-logo" src="/images/2016-refresh/js-logo-black-text.svg" alt="James Stone Logo"></a>
          </div>
          <!-- TODO: issue with font sizing -->
        </div>
        <div class="medium-2 columns">
          <h2>Useful Links</h2>


          <ul>

            <li> <a target="_blank" href="https://www.youtube.com/user/JamesManOfStone">YouTube 205k+ views</a> </li>
            <li> <a target="_blank" href="http://foundation.zurb.com/forum/451-james-stone">Foundation Forum</a> </li>
            <li> <a target="_blank" href="https://www.linkedin.com/in/jamesstoneco">Linked In</a> </li>
            <li> <a target="_blank" href="https://www.quora.com/James-Stone-6">Quora</a> </li>

          </ul>

        </div>
        <div class="medium-2 columns">
          <h2>Follow Me</h2>

          <ul>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCW1aqiJm20n2lDMp4Pr2myw">YouTube</a></li>
            <li><a target="_blank" href="https://www.twitter.com/JAMESSTONEco">Twitter</a></li>
            <li><a target="_blank" href="https://plus.google.com/+JamesStoneAuthorSpeakerDeveloperMediaArtist">Google Plus</a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/jamesstoneco">LinkedIn</a></li>
          </ul>  
        </div>
      </div>

    </div> 
  </div>

  <div class="sub-footer">
    <div class="row">
      <div class="medium-12 columns">
        <ul class="menu align-right">
          <li><a <%= 'class="active" ' if current_page.data.active_nav == 'contact' %> href="/contact">Contact</a></li>
          <li><a <%= 'class="active" ' if current_page.data.active_nav == 'schedule' %> target="_blank" href="https://calendly.com/jamesstone/1-2-1">Schedule Session</a></li>
          <li><a <%= 'class="active" ' if current_page.data.active_nav == 'resource' %> href="/resource-center">Resource Center</a></li>
          <li><a <%= 'class="active" ' if current_page.data.active_nav == 'home' %> href="/">Home</a></li>
        </ul>
        <p>Copyright 2009-2016, James Stone Intermedia, All Rights Reserved.</p>
      </div>
    </div>
  </div>

</footer>
<!-- <h5 class="text-center"><a href="/bb">Hosting sponsored by <span class="label">BitBalloon</span> &ndash; The ultimate hosting platform for your HTML5 sites &amp; apps</a></h5> -->


