<section class="testimonials">



  <div class="column-row">
    <h2 class="text-center"><%= data.widgets.testimonials_headline %></h2>
  </div>

  <div class="row align-center">
    <div class="column medium-11 small-12"><div class="row align-stretch">
      <% data.widgets.testimonials[0..1].each do | t | %>
      <div class="column small-12 medium-6" style="display: flex;">
        <div class="card">
          <div class="image-wrapper">
            <img src="<%= t.image_url %>" alt="">
          </div>
          <p>
            <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
          </p>
          <p><%= t.text %></p>
          <p><%= t.name %><span class="company">, <%= t.company %></span></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
</section>