<section class="case-studies">



  <div class="column-row">
    <h2 class="text-center"><%= data.widgets.case_studies_headline %></h2>
  </div>

  <div class="row">
    <div class="column small-12">
      <slick infinate="true" touch-move="true" dots="false" speed="700" slides-to-show="1" touch-move="false" slides-to-scroll="1" adaptive-height="false">

        <% data.widgets.case_studies.each do | t | %>
        <div class="card active">
          <img src="<%= t.image_url %>" alt="">
          <p><%= t.text %></p>
          
          <p class="text-center"><a target="_blank" href="<%= t.company_url %>" class="button hollow"><%= t.cta %></a></p>

          </div>
          <% end %>
        </slick>
      </div>
    </div>


  <div class="icon-thumbs-up">
    <img class="icon-thumbs-up" src="images/2016-refresh/icon-thumbs-up.svg" alt="">
  </div>

<p class="text-center flush-bottom">
You + ZURB Foundation + Your Stack = Awesome. <br>
<strong>“Let’s jump on a call to discuss.”</strong>
</p>
  </section>