---
title: "FoundationCasts"
seo_desc: "Weekly videos, tutorials and screencasts on ZURB Foundation by James Stone"
pageable: false
per_page: 8
active_nav: home
hero_headline: "Feel confident building your next ZURB Foundation site"
hero_subhead: "You have pretty much everything you need to build it right here"
hero_cta: "Learn my workflow"
featured_headline: "I'm featured on"
membership_headline: "A place for intermediate-level web designers to fine tune their ZF skills"
testimonial_headline: "What people are saying about James"
video_headline: "Top-shelf screencasts that you won’t wear out"
article_headline: "Fresh relevant info that does not waste your time"
error_noresults: "No results found. Try different or fewer keywords."
article_view: "Read Article"
article_more: "More Articles"
---


<section class="hero index">
  <div class="row">
    <div class="small-12 columns">
      <h2><%= current_page.data.hero_headline %></h2>
      <p><%= current_page.data.hero_subhead %></p>
      <p> <a ng-click="scrollToId('scroll-to-membership-promo')">
        <img src="images/fc/hero-drop-icon.svg" alt="">
      </a> </p>
    </div>
  </div>
</section>

<section class="bling">
  <div class="row align-center">
    <div class="column medium-10 small-12">
      <ul>
        <li><span><%= current_page.data.featured_headline %></span></li>
        <% data.widgets.featured[0..3].each do | feature | %>
        <li> <a target="_blank" href="<%= feature.url %>"><img src="<%= feature.image %>" alt="<%= feature.name %> logo"></a> </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>


<section class="membership-promo" id="scroll-to-membership-promo">
  <h2><%= current_page.data.membership_headline %></h2>
  <div class="row align-center">
    <div class="small-12 medium-6 columns order-1 medium-order-2">
      <p class="text-center">
        <img src="images/2015-redesign/yeti_screens.svg" alt="">
      </p>
    </div>
    <div class="small-6 medium-2 columns order-2 medium-order-2">
      <div class="promo-box">
        <img class="round" src="images/2015-redesign/circle-icon-video.svg" alt="">
        <p>Screencasts</p>
      </div>
      <div class="promo-box">
        <img class="round" src="images/2015-redesign/circle-icon-timer.svg" alt="">
        <p>Early Access</p>
      </div>
    </div>
    <div class="small-6 medium-2 columns end">
      <div class="promo-box">
        <img class="round" src="images/2015-redesign/circle-icon-book.svg" alt="">
        <p>Guides</p>
      </div>
      <div class="promo-box">
        <img class="round" src="images/2015-redesign/circle-icon-doc.svg" alt="">
        <p>Quick References</p>
      </div>
    </div>
  </div>

  <div class="row signup-row">
    <div class="small-12 columns">
      <p class="text-center"><input type="text" placeholder="Name">
        <input type="email" placeholder="Email Address">
        <input class="button" type="submit" value="Let me join!">
      </p>
    </div>
  </div>
</section>



<%= partial "module_testimonials" %>



<section class="videos" id="videos">
  <div class="column-row">
    <h2><%= current_page.data.video_headline %></h2>
  </div>
  <div class="row align-stretch">
    <% data.widgets.videos.each do | vid | %>
    <div class="column small-12 medium-4" style="display: flex;">
      <div class="video-overlay <%= vid.color %>" ng-click="openLink('https://www.youtube.com/watch?v=<%= vid.id %>')">
        <img src="https://img.youtube.com/vi/<%= vid.id %>/maxresdefault.jpg" alt="">
        <!-- TODO: padding for text, responsive flexbox centered button -->
        <h3><%= vid.name %></h3>
        <span><img src="images/2015-redesign/overlay-icon-play.svg" alt=""></span>
        <p><%= vid.time %></p>
      </div>
    </div>
    <% end %>
  </div>
</section>


<%= partial "module_promo" %>


