---
title: "James Stone: Learn Foundation, SVG, JavaScript + more"
seo_desc: "The best place to learn ZURB Foundation, SVG and JavaScript. James is a Dev + Designer based out of San Francisco, passionate about UX + Design. He has spoken at at the HTML5 Developers Conference, TEDxPSU and the UMD Design | Cultures + Creativity Honors College and is a Mentor at Coding House."
pageable: false
per_page: 12
active_nav: home
published: true
videos: 
- id: "kk6KpKK5Jjc"
- id: "KdFZnvLPnz4"
- id: "Pm5vvimIJKY"
- id: "Gx-9cgNlZlQ"
- id: "UjN_aX84Qco"
- id: "8n9eNLSjg7U"
---


<section class="bling">

<div class="row">
  <div class="medium-6 columns medium-centered">
    <div class="row">
      <div class="small-3 columns"><a target="_blank" href="http://tedxtalks.ted.com/video/TEDxPSU-James-Stone-A-Technolog;search%3Ajames%20stone"><img src="/images/index/logos/logo-tedx.png" alt=""></a></div>
      <div class="small-3 columns"><a target="_blank" href="http://html5devconf.com/archives/april2013/speakers.html#j_stone"><img src="/images/index/logos/logo-html5dev.png" alt=""></a></div>
      <div class="small-3 columns"><a target="_blank" href="https://www.codeschool.com/screencasts/sublime-text-3"><img src="/images/index/logos/logo-codeschool.png" alt=""></a></div>
      <div class="small-3 columns"><a target="_blank" href="http://foundation.zurb.com/develop/resources.html#tutorials"><img src="/images/index/logos/logo-zurb.png" alt=""></a></div>
    </div>
  </div>
</div>

<br>

</section>

<div class="row"></div>

<section class="products hide" id="products">
<h2>Products designed to help you learn fast</h2>
  <div class="row">
    <div class="medium-8 columns"><a target="_blank" href="/zurb-foundation-blueprints"><img src="/images/landing/zf-bp-hero%402x.jpg" alt=""></a>
    </div>
    <div class="medium-4 columns">
    <br class="show-for-small-only">
      <a target="_blank" href="/zurb-foundation-quick-reference"><img src="/images/landing/zf-quickref-hero.jpg" alt=""></a>
    <br class="show-for-small-only">
    <br class="show-for-small-only">
      <a target="_blank" href="https://leanpub.com/zurb-foundation-performance-guide"><img style="border: solid 1px #ccc; margin-top: 5px;" class="" src="images/index/products/leanpub-zurb-perf.png" alt=""></a>
      <br>
    </div>
  </div>
</section>


<section class="testimonials">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="text-center">What people are saying about James</h2>
    </div>
    <div class="small-6 medium-3 columns end testimonial">
      <div class="image-wrap">
        <a target="_blank" href="https://twitter.com/zurbfoundation/status/448920873034977282"><img src="/images/index/twitter/zurb-foundation.png" alt=""></a>
      </div>
      <p><a target="_blank" href="https://twitter.com/zurbfoundation/status/448920873034977282">ZURB Foundation</a></p>
      <blockquote>Thanks James! Your site and help on the forum make this community stronger!</blockquote>
    </div>
    <div class="small-6 medium-3 columns end testimonial">
      <div class="image-wrap">
        <a target="_blank" href="https://twitter.com/jamesstoneco/status/525140340068466689"><img src="/images/index/twitter/ethan.png" alt=""></a>
      </div>
      <p><a target="_blank" href="https://twitter.com/jamesstoneco/status/525140340068466689">Ethan Schoonover</a></p>
      <blockquote>Hey! Thanks for all things Foundation related! I just started getting into Found. last year. So great!</blockquote>
    </div>
    <div class="small-6 medium-3 columns end testimonial">
      <div class="image-wrap">
        <a target="_blank" href="https://twitter.com/_pastorello/status/547054814186979328"><img src="/images/index/testimonials/pastorello.jpg" alt=""></a>
      </div>
      <p><a target="_blank" href="https://twitter.com/_pastorello/status/547054814186979328">Luca Pastorello</a></p>
      <blockquote>Hi! i'm just starting to following the "getting started" page on your site :) it's full of awesome stuff, thank you!</blockquote>
    </div>
    <div class="small-6 medium-3 columns end testimonial">
      <div class="image-wrap">
        <a target="_blank" href="https://twitter.com/zurbfoundation/status/490156593250447360"><img src="/images/index/twitter/codinghouse.png" alt=""></a>
      </div>
      <p><a target="_blank" href="https://twitter.com/zurbfoundation/status/490156593250447360">Coding House</a></p>
      <blockquote>Thank You @JAMESSTONEco for the great presentation on @ZURBfoundation, and the general tips and tricks.</blockquote>
    </div>
  </div>

      <div class="row hide">
      <div class="small-12 columns">
        <p class="text-right"> <a href="http://www.twitter.com/JAMESSTONEco">Latest from the Twitterverse &raquo;</a> </p>
      </div>
    </div>


</section>


<section class="videos" id="videos">

  <h2>Friendly screencasts to walk you through step-by-step</h2>



<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>

<% current_page.data.videos.each_slice(3) do | vid_block | %>
  <div class="row video-row">
  <% vid_block.each do | vid | %>
    <div class="small-10 medium-4 columns small-centered medium-uncentered"> 

    <div class="flex-video widescreen">
      <div ob-lazytube="" href="http://www.youtube.com/watch?v=<%= vid.id %>" rel="0"></div>
    </div>


    </div>
<% end %>
  </div>
<% end %>
</section>



<section class="articles" id="articles">
<h2 class="flush-bottom">Dive deeper with comprehensive articles</h2>

<p class="text-center flush-bottom">
    <% blog('blog').tags.keys.sort.each do |tag| %>
    <a href="/blog/tag/<%= tag %>" class="button tiny secondary radius"><%= tag %></a>
    <% end %>
</p>




  <div class="row">
    <% page_articles('blog').group_by.with_index{ |a,i| i % 3 }.values.each do | col | %>
    <div class="medium-4 large-4 columns"> <!-- main content -->

      <% col.each do |article| %>
      <% test_video          = article.data.video %>
      <% test_video_type     = article.data.video_type %>
      <% test_video_id       = article.data.video_id %>
      <% test_featured_image = article.data.featured_image %>


      <div class="card article clickable" ng-click="openLink('<%= article.url %>')">
        <% image_url           = "" %>
        <% if (defined?(test_video)) && (defined?(test_video_type)) && (defined?(test_video_id)) %>
        <% if test_video == "true" %>
        <% if test_video_type == "youtube" %>
        <div class="flex-video yt-thumb-container">
          <img class="yt-thumb" src="//img.youtube.com/vi/<%= test_video_id %>/hqdefault.jpg" alt="">
        </div>
          <!-- div class="lazyYT" data-youtube-id="<%= test_video_id %>" data-ratio="16:9" data-parameters="rel=0">loading...</div -->
        <% end %>
        <% elsif ( defined?(test_featured_image)) %>
        <img src="<%= test_featured_image %>" alt="<%= article.title %>" style="">
        <% end %>
        <% end %>
        <p class="leadin"><%= article.title %></h3>
          <time class="timeago published hide" datetime="<%= Time.parse("#{article.date.strftime('%B %e, %Y')} #{article.data.time}").to_time.iso8601 %>"><%= Time.parse("#{article.date.strftime('%B %e, %Y')} #{article.data.time}").strftime('%B %e, %Y %I:%M %p') %></time>
          <%= strip_html(article.summary(125)) %>
          <a href="<%= article.url %>" class="button expand secondary flush-bottom">Read &raquo;</a>
        </div>
        <br>
        <% end %> <!-- article -->

      </div>
      <% end %> <!-- col -->

    </div>

    <div class="row">
      <div class="small-12 columns">
        <p> <a href="/blog/p2">&laquo; previous articles</a> </p>
      </div>
    </div>

  </section>





  <div class="row hide">
    <% page_articles('blog').group_by.with_index{ |a, i| i % 3 }.values.each do | col | %>
    <div class="medium-4 large-4 columns"> <!-- main content -->
      <% col.each do |article| %>
      <div class="card article">
        <a class="article-link" href="<%= article.url %>"></a>
        <% test_video          = article.data.video %>
        <% test_video_type     = article.data.video_type %>
        <% test_video_id       = article.data.video_id %>
        <% test_featured_image = article.data.featured_image %>
        <% image_url           = "" %>
        <% if test_video == "true" %>
        <% if test_video_type == "youtube" %>
        <div class="flex-video widescreen">
          <div class="lazyYT" data-youtube-id="<%= test_video_id %>" data-ratio="16:9" data-parameters="rel=0">loading...</div>
        </div>
        <% end %>
        <% elsif ( defined?(test_featured_image)) %>
        <img src="<%= test_featured_image %>" alt="<%= article.title %>" style="">
        <% end %>
        <h3 class="entry-title"><%= article.title %></h3>
        <time class="timeago published hide" datetime="<%= Time.parse("#{article.date.strftime('%B %e, %Y')} #{article.data.time}").to_time.iso8601 %>"><%= Time.parse("#{article.date.strftime('%B %e, %Y')} #{article.data.time}").strftime('%B %e, %Y %I:%M %p') %></time>
        <%= strip_html(article.summary(125)) %>
      </div>
      <% end %> <!-- article -->
    </div>
    <% end %> <!-- col -->
  </div>

<section class="cta">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="text-center">Need some help with ZURB Foundation?</h2>
      <h4 class="text-center">Schedule a Clarity.fm call + screenshare and you can talk directly to James ASAP.</h4>
      <br>
      <p class="text-center flush-bottom"><a href="https://clarity.fm/jamesstone/precall?c=t&utm_source=blog_widget_request&utm_medium=blog_widget_request&utm_term=widget_jamesstone_25579&utm_campaign=blog_widget_request" class="button radius" target="_blank">Schedule 15 minutes today &raquo;</a></p>
    </div>
  </div>
</section>
