---
title: "James Stone: Learn Foundation, SVG, JavaScript + more"
seo_desc: "The best place to learn ZURB Foundation, SVG and JavaScript. James is a Dev + Designer based out of San Francisco, passionate about UX + Design. He has spoken at at the HTML5 Developers Conference, TEDxPSU and the UMD Design | Cultures + Creativity Honors College and is a Mentor at Coding House."
pageable: false
per_page: 15
active_nav: home
published: true
---

<div class="content-top-spacing"></div>

<%= partial "featurebox" %>


<% blog('daily-dispatch').articles[0...5].each do |article| %>
  <article>
    <h1>
      <a href="<%= article.url %>"><%= article.title %></a>
      <time><%= article.date.strftime('%b %e %Y') %></time>
    </h1>

    <%= article.summary %>

    <a href="<%= article.url %>">Read more</a>
  </article>
<% end %>




<div class="row">
  <% page_articles('blog').group_by.with_index{ |a,i| i % 3 }.values.each do | col | %>
  <div class="medium-4 large-4 columns"> <!-- main content -->
    <% col.each do |article| %>
    <div class="card article">
      <a class="article-link" href="<%= article.url %>"></a>
      <% test_video          = article.data.video %>
      <% test_video_type     = article.data.video_type %>
      <% test_video_id       = article.data.video_id %>
      <% test_featured_image = article.data.featured_image %>
      <% image_url           = "" %>
      <% if (defined?(test_video)) && (defined?(test_video_type)) && (defined?(test_video_id)) %>
        <% if test_video == "true" %>
          <% if test_video_type == "youtube" %>
          <div class="flex-video widescreen">
          <div class="lazyYT" data-youtube-id="<%= test_video_id %>" data-ratio="16:9" data-parameters="rel=0">loading...</div>
          </div>
          <% end %>
        <% elsif ( defined?(test_featured_image)) %>
          <img src="<%= test_featured_image %>" alt="<%= article.title %>" style="">
        <% end %>
      <% end %>
      <h3 class="entry-title"><%= article.title %></h3>
      <time class="timeago published hide" datetime="<%= Time.parse("#{article.date.strftime('%B %e, %Y')} #{article.data.time}").to_time.iso8601 %>"><%= Time.parse("#{article.date.strftime('%B %e, %Y')} #{article.data.time}").strftime('%B %e, %Y %I:%M %p') %></time>
      <%= strip_html(article.summary(125)) %>
    </div>
    <% end %> <!-- article -->
      </div>
  <% end %> <!-- col -->
</div>


<div class="row">
  <div class="small-12 columns">
    <p> <a href="/blog/p2">&laquo; previous articles</a> </p>
 </div>
</div>