---
title: "James Stone, Author and Blogger"
seo_desc: James Stone is an Author and a Blogger. He is ZURB Foundation Certified Preferred and a top contributor to the project. James has spoken at the HTML5 Developers Conference, TEDxPSU and the UMD Design | Cultures + Creativity Honors College and is a Mentor at Coding House
pageable: false
per_page: 15
active_nav: home
---


<div class="content-top-spacing"></div>

<%= partial "featurebox" %>



<div class="row">
  <% page_articles.each_slice((page_articles.size/3.0).ceil) do | col | %>
  <div class="medium-4 large-4 columns"> <!-- main content -->
    <% col.each do |article| %>
    <div class="card article">
      <a class="article-link" href="<%= article.url %>"></a>
        <% test_featured_image = article.data.featured_image %>
          <% if ( defined?(test_featured_image)) %>
            <img src="<%= article.data.featured_image %>">
          <% end %>
          <h3 class="entry-title"><%= article.title %></h3>
      <time class="timeago published hide" datetime="<%= Time.parse("#{article.date.strftime('%B %e, %Y')} #{article.data.time}").to_time.iso8601 %>"><%= Time.parse("#{article.date.strftime('%B %e, %Y')} #{article.data.time}").strftime('%B %e, %Y %I:%M %p') %></time>
      <%= strip_html(article.summary(125)) %>
    </div>
    <% end %> <!-- article -->
      </div>
  <% end %> <!-- col -->
</div>

<div class="row">
  <div class="small-12 columns">
    <p> <a href="/blog/p2">&laquo; previous articles</a> </p>
 </div>
</div>
