---
title: "James Stone: Learn Foundation, SVG, JavaScript + more"
seo_desc: "The best place to learn ZURB Foundation, SVG and JavaScript. James is a Dev + Designer based out of San Francisco, passionate about UX + Design. He has spoken at at the HTML5 Developers Conference, TEDxPSU and the UMD Design | Cultures + Creativity Honors College and is a Mentor at Coding House."
pageable: false
per_page: 8
active_nav: home
published: true
---


<section class="hero index">
  <div class="row">
    <div class="small-12 columns">
      <h2>This is not just a reference. This is not a collection of tricks. This site teaches you how to think in <strong>ZURB Foundation</strong>, which is far more important.</h2>
      <p>I simply built what I wished my 20 year old self had when learning all of this stuff. Everything that comes with the territory of being a front-end developer.</p>
      <p> <a href="" class="button">Learn More </a> </p>

    </div>
  </div>
</section>


<section class="bling">
  <div class="row align-center">
    <div class="column medium-10 small-12">
      <ul>
        <li><span>I'm featured on</span></li>
        <li> <a target="_blank" href="http://tedxtalks.ted.com/video/TEDxPSU-James-Stone-A-Technolog;search%3Ajames%20stone"><img src="images/2015-redesign/featured-logo-tedxpsu.svg" alt=""></a> </li>
        <li> <a target="_blank" href="http://html5devconf.com/archives/april2013/speakers.html#j_stone"><img src="images/2015-redesign/featured-logo-html5.svg" alt=""></a> </li>
        <li> <a target="_blank" href="https://www.codeschool.com/screencasts/sublime-text-3"><img src="images/2015-redesign/featured-logo-cs.svg" alt=""></a> </li>
        <li> <a target="_blank" href="http://foundation.zurb.com/develop/resources.html#tutorials"><img src="images/2015-redesign/featured-logo-zurb.svg" alt=""></a> </li>
      </ul>
    </div>
  </div>
</section>

<section class="membership-promo">

  <h2>A specialized community you can keep in your back pocket</h2>
  <div class="row align-center">
    <div class="small-12 medium-6 columns order-1 medium-order-2">
      <p class="text-center">
        <img src="images/2015-redesign/yeti_screens.svg" alt="">
      </p>
    </div>
    <div class="small-6 medium-2 columns order-2 medium-order-2">
      <div class="promo-box">
        <img class="round" src="images/2015-redesign/circle-icon-video.svg" alt="">
        <p>Screencasts</p>
      </div>

      <div class="promo-box">
        <img class="round" src="images/2015-redesign/circle-icon-timer.svg" alt="">
        <p>Short Courses</p>
      </div>
    </div>
    <div class="small-6 medium-2 columns end">
      <div class="promo-box">
        <img class="round" src="images/2015-redesign/circle-icon-book.svg" alt="">
        <p>Ebooks &amp; Guides</p>
      </div>

      <div class="promo-box">
        <img class="round" src="images/2015-redesign/circle-icon-doc.svg" alt="">
        <p>Quick References</p>
      </div>

    </div>
  </div>

  <div class="row signup-row">
    <div class="small-12 columns">
      <p class="text-center"><input type="text" placeholder="Name">
        <input type="email" placeholder="Email Address">
        <input class="button" type="submit" value="Let me join!">
      </p>

    </div>
  </div>
</section>

<section class="testimonials">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="text-center">James Stone doesn’t dumb anything down. He explains things accurately and understandably.</h2>
    </div>
  </div>

  <div class="row align-stretch">
    <% data.widgets.testimonials[0..3].each do | t | %>
    <div class="column small-12 medium-3" style="display: flex;">
      <div class="card">
        <h3><%= t.name %></h3>
        <a target="_blank" href="<%= t.tweet_url %>"><img class="round" src="<%= t.image_url %>" alt=""></a>
        <p><%= t.text %></p>
      </div>
    </div>
    <% end %>

  </div>
</div>

<div class="row hide">
  <div class="small-12 columns">
    <p class="text-right"> <a href="http://www.twitter.com/JAMESSTONEco">Latest from the Twitterverse &raquo;</a> </p>
  </div>
</div>


</section>


<section class="videos" id="videos">
  <h2>Great videos that make ZURB Foundation simple to understand</h2>
  <div class="row align-stretch">
    <% data.widgets.videos.each do | vid | %>
    <div class="column small-12 medium-4" style="display: flex;">
      <div class="video-overlay <%= vid.color %>" ng-click="openLink('https://www.youtube.com/watch?v=<%= vid.id %>')">
        <img src="https://img.youtube.com/vi/<%= vid.id %>/maxresdefault.jpg" alt="">
        <!-- TODO: padding for text, responsive flexbox centered button -->
        <h3><%= vid.name %></h3>
        <span><img src="images/2015-redesign/overlay-icon-play.svg" alt=""></span>
        <p><%= vid.time %></p>
      </div>
    </div>
    <% end %>
  </div>
</section>


<section class="articles" id="articles" ng-controller="ArticlesCtrl">
  <h2 class="flush-bottom">Articles that open your mind to the possibilities with ZURB Foundation</h2>

  <div class="row align-spaced">
    <div class="small-12 medium-3 columns">
      <div class="row collapse">
        <div class="small-3 columns">
          <label for="subject">Subject</label>
        </div>
        <div class="small-9 columns">
          <select name="subject" id="" ng-model="selectedTag">
            <option value="" selected>All</option>
            <option ng-repeat="tag in articleTags" value="{{ tag }}"> {{ tag }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="small-12 medium-3 columns">
      <div class="row collapse">
        <div class="small-3 columns">
          <label for="subject">Sort by</label>
        </div>
        <div class="small-9 columns">
          <select name="subject" id="" ng-model="selectedSort">
            <option value="" selected>Newest First</option>
            <option>Oldest First</option>
            <option>Most Comments</option>
          </select>
        </div>
      </div>     
    </div>
    <div class="small-12 medium-3 columns">
      <div class="row collapse">
        <div class="small-3 columns">
          <label for="search">Search</label>
        </div>
        <div class="small-9 columns">

         <!-- <autocomplete ng-model="yourchoice" data="lunrData.index.documentStore.store['2']" on-type="updateMovies"></autocomplete> -->

         <input class="" type="text" name="search" placeholder="Search Articles" ng-model="searchInput" ng-change="activeSearchResults = searchResults(searchInput)">
       </div>
     </div>
   </div>
 </div>

 <!-- search results -->
 <div class="row" ng-if="searchInput">
  <div class="medium-12 columns">
   <p ng-if="activeSearchResults.length < 1" class="text-center" style="margin-bottom: 30px;">No results found. Try different or fewer keywords.</p>
   <div class="row">
    <div class="small-12 medium-5 columns" ng-class="$even ? 'medium-offset-1' : 'end'" ng-repeat="r in activeSearchResults">
      <div class="row small-articles">
       <div class="small-3 columns">
         <a ng-if="lunrData.docs[r.ref].featured_image"  href="{{lunrData.docs[r.ref].url}}"><img ng-src="{{ lunrData.docs[r.ref].featured_image }}" alt="{{ lunrData.docs[r.ref].title }}"></a>
       </div>
       <div class="small-9 columns">
         <p>
           <a href="{{lunrData.docs[r.ref].url}}">{{ lunrData.docs[r.ref].title }}</a>
         </p>
       </div>
     </div>
   </div>
 </div>
</div>
</div>

<div class="row align-stretch">
  <!-- <div style="display:flex;  flex-wrap: wrap; "> -->
  <!-- class="medium-3 columns" -->
  <div class="column small-12 medium-3" style="display:flex; width:25%; " style="display:flex;" ng-repeat="article in articles | orderBy:makeDateSortable(date):(selectedSort === 'Oldest First') | filterByTag: selectedTag | limitTo: numberOfArticles"> 

    <div class="flex-card article clickable" style="display:flex; flex-direction:" ng-click="openLink(article.url)">


      <a style="flex: 0 1 auto;" href="{{ article.url }}"><img ng-src="{{article.featured_image}}" alt="{{ article.title }}" style=""></a>
      <!-- <div class="content" style="display:flex; flex-direction: column;"> -->
      <div style="flex: 1 0 auto;" class="content">
        <h4 style="flex: 0 1 auto;">{{ article.title }}</h4>
        <!-- <time class="timeago published hide" datetime="time">time</time> -->
        <p style="flex: 1 0 auto;" class="summary">
          {{ article.summary }}
        </p>
        
        <a href="{{ article.url }}" class="button hollow">Read Article</a>
      </div>      <!-- </div> -->
    </div>
  </div>


</div>

<p class="text-center"> <a class="button round hollow" ng-click="numberOfArticles = numberOfArticles + 4">More Articles</a> </p>


</section>



<section class="promo">
  <h2>You definitely have to be on top of what’s going on. Get back to your roots and refresh yourself a bit.</h2>
  <p class="subhead">Fresh, relevant info that does not waste your time. Sign up today. You won’t regret the time you spent.</p>
  <a href="" class="button">Sign me up</a>
</section>