---
title: "James Stone, Author and Blogger"
seo_desc: James Stone is an Author and a Blogger. He taught game and creative coding at Penn State and served as faculty for Eyebeam.
pageable: false
per_page: 8
active_nav: home
---




<div class="home-header">
<div class="row">
  <div class="medium-7 large-8 columns">
    
  </div>
  <div class="small-12 medium-5 large-4 columns">
    <div class="row home-header-callout-box">
      <div class="small-12 columns header-callout-text">
        <h1 class="home-header-text text-right"><span class="home-header-text-alt">JAMESSTONE</span><span class="dot-kern">.</span>CO</h1>
        <h6 class="text-alt text-right">Set the Web on Fire</h6>
      </div>
  </div>
</div></div>

</div>


<div class="row">
  <div class="small-12 columns">&nbsp;</div>
</div>


<%= page_articles.size %><br>
<%= [*page_articles].size %>

<div class="row">
  <% h = Hash[*page_articles] %>
  <% [h.keys, h.values].each do |col| %>
  <div class="medium-4 large-4 columns"> <!-- main content -->
    <% col.each do |article| %>
    <div class="card article">
      <a class="article-link" href="<%= article.url %>"></a>
        <% test_featured_image = article.data.featured_image %>
          <% if ( defined?(test_featured_image)) %>
            <img src="<%= article.data.featured_image %>">
          <% end %>

          <h3 class="entry-title"><%= article.title %></h3>
      <time class="timeago published hide" datetime="<%= Time.parse("#{article.date.strftime('%B %e, %Y')} #{article.data.time}").to_time.iso8601 %>"><%= Time.parse("#{article.date.strftime('%B %e, %Y')} #{article.data.time}").strftime('%B %e, %Y %I:%M %p') %></time>
      <%= strip_html(article.summary(125)) %>


    </div>
    <% end %> <!-- article -->
  </div>
  <% end %> <!-- col -->
  <div class="medium-4 large-4 columns"> <!-- sidebar -->
    <%= partial "sidebar" %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <p> <a href="/blog/p2">&laquo; previous articles</a> </p>
 </div>
</div>
