<div class="row">
  <div class="medium-9 columns">
    <div class="flex-video widescreen">
      <iframe width="1280" height="720" src="https://www.youtube.com/embed/<%= episode.youtube_id %>" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="medium-3 columns">
    <!-- <h3>More Episodes</h3> -->
<ul class="vertical menu" data-accordion-menu>
<li>
  <a href="#">More Episodes</a>
    <ul class="menu vertical nested">
      <% data.episodes.each do | ep | %>
      <li>
        <a href="/<%= ep.number %>">  
          Ep. <%= ep.number %>:
          <%= ep.title %>
        </a>
      </li>
      <% end %>
    </ul>
</li>
  </ul>  </div>
</div>










<%= episode.youtube_id %>
<%= episode %>